
/FFMPEG/target/test-classes/
/FFMPEG/target/classes/com/ry/ffmpeg/
/EtternaToOsu/target/test-classes/com/ry/etternaToOsu/
/Etterna/target/classes/com/ry/etterna/util/
/OsuBuilder/target/classes/com/ry/osu/builder/
